In [225]:
import pandas

In [230]:
import os
os.listdir()

['supermarkets.json',
 'supermarkets-semi-colons.txt',
 'supermarkets-commas.txt',
 '.ipynb_checkpoints',
 'supermarkets.csv',
 'supermarkets-semi-colons_Raw.txt',
 'supermarkets.xlsx',
 'Pandas_101.ipynb']

In [232]:
df5=pandas.read_json("./supermarkets.json")
df5

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [302]:
from geopy.geocoders import ArcGIS

In [303]:
nom=ArcGIS()

In [306]:
loc=nom.geocode("3995 23rd St, San Francisco California 94114")

In [307]:
loc.latitude

37.75298458728149

In [344]:
df5

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [346]:
df5.rename(columns={"Address":"Locality"},inplace=True)
df5

,Locality,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [347]:
df5["Address"]=df5["Locality"]+", "+df5["City"]+", "+df5["State"]+", "+df5["Country"]

In [314]:
df5

,Locality,City,State,Country,Name,Employees,Address
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [351]:
df5["Coordinates"]=df5["Address"].apply(nom.geocode)

In [352]:
df5

,Locality,City,Country,Employees,ID,Name,State,Address,Coordinates
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94..."
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9..."

In [353]:
df5.Coordinates

0    (3666 21st St, San Francisco, California, 9411...
1    (735 Dolores St, San Francisco, California, 94...
2    (332 Hill St, San Francisco, California, 94114...
3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
5    (551 Alvarado St, San Francisco, California, 9...
Name: Coordinates, dtype: object

In [354]:
df5.Coordinates[1]

Location(735 Dolores St, San Francisco, California, 94110, (37.75780079156327, -122.4255989188067, 0.0))

In [355]:
df5.Coordinates[1].latitude

37.75780079156327

In [357]:
df5["Latitude"]=df5["Coordinates"].apply(lambda x: x.latitude if x != None else None)

In [358]:
df5

,Locality,City,Country,Employees,ID,Name,State,Address,Coordinates,Latitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",37.756444
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...",37.757801
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",37.755641
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",37.752985
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752144
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",37.753709

In [359]:
df5["Longitude"]=df5["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [360]:
df5

,Locality,City,Country,Employees,ID,Name,State,Address,Coordinates,Latitude,Longitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251